@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

:root {
    --background: rgb(46, 45, 45);
    --background2: linear-gradient(45deg, rgba(189,123,231,1) 0%, rgba(232,201,245,1) 97%);
    --headercolor: rgba(82, 42, 90, 1);
    --headercolorhighlight: rgb(104, 63, 112);
    --headercoloractive: rgb(54, 26, 59);
    --headerfontcolor: white;
    --font-color: rgb(12, 1, 44);
}

body {
    background: var(--background2);
    color: var(--font-color);
    font-family: Nanum Gothic Coding;
}

header {
    margin: auto;
    padding: 0;
    width: 80%;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--headercolor);
    border-radius: 0px 0px 10px 10px;
    position: sticky;
    top: 0px;
    overflow: hidden;
    transition: all 1s ease;
}

.header-item {
    text-align: center;
    margin: auto;
    flex-grow: 1;
    padding: 13px 20px;
    color: var(--headerfontcolor);
}

li {
    display: block;
    color: var(--font-color);
}

h1 {
    padding: 0;
    margin: 0;
}

.coming-soon {
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
    font-size: 8em;
}

.homepage-div {
    max-width: 80%;
    margin: auto;
}

.skills-div {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.skills-block {
    min-width: fit-content;
    width: 100px;
    text-align: center;
    align-content: center;
    background-color: var(--headercolor);
    color: var(--headerfontcolor);
    padding: 10px 0px 10px 0px;
    border: 10px;
    border-color: black;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--headerfontcolor);
}

a:hover {
    background-color: var(--headercolorhighlight);
    transition: background-color 0.3s ease;
    color: var(--headerfontcolor);
}

a:visited {
    color: var(--headerfontcolor);
}

.title {
    font-size: 4em;
}

.text {
    font-size: 1.5em;
    line-height: 33px;
}

/*.item a.active {
    backgroundcolor: var(--headercoloractive);
    color: white;
}*/