:root {
    --background: rgb(46, 45, 45);
    --background2: linear-gradient(33deg, rgb(27, 27, 27) 0%, rgba(50, 50, 50, 1) 100%);
    --font-color: white;
}

body {
    background: var(--background2);
}

#header-bar {
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: 80%;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;;
    background-color: red;
    border-radius: 10%;
    position: sticky;
    top: 0;
}

li a {
    display: block;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 10em;
}

#coming-soon {
    display: flex;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: var(--font-color);
}