@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");
:root {
  --background: rgb(46, 45, 45);
  --background2: linear-gradient(45deg, rgb(209, 149, 247) 0%, rgba(232,201,245,1) 97%);
  --headercolor: rgba(82, 42, 90, 1);
  --headercolorhighlight: rgb(104, 63, 112);
  --headercoloractive: rgb(54, 26, 59);
  --headerfontcolor: white;
  --font-color: $font-color;
}

body {
  background: var(--background2);
  color: #0c012c;
  font-family: Nanum Gothic Coding;
  scrollbar-width: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  padding: 0;
  width: 100%;
  height: 50px;
  top: 150px;
  background-color: var(--headercolor);
  top: 0px;
  overflow: hidden;
}

.nav-title-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 20px;
  color: white;
}

.nav-items-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: var(--headerfontcolor);
}

a:hover {
  background-color: var(--headercolorhighlight);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: var(--headerfontcolor);
}

a:visited {
  color: var(--headerfontcolor);
}

.nav-title {
  text-align: center;
  padding: 13px 20px;
}

.nav-item {
  text-align: center;
  margin: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 13px 20px;
  color: var(--headerfontcolor);
}

#dropdown-button {
  display: none;
  font-size: 25px;
}

.dropdown {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: 0;
  max-width: 75%;
  width: 550px;
  height: 100%;
  z-index: 1;
  background-color: var(--headercolor);
}

.dropdown-item {
  text-align: right;
  margin: auto;
  font-size: 2rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 40px;
  color: var(--headerfontcolor);
}

.dropdown-item:hover {
  background-color: var(--headercolorhighlight);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: var(--headerfontcolor);
}

.dropdown-item:visited {
  color: var(--headerfontcolor);
}

.greeter {
  width: 100%;
  height: 100vh;
}

.website-graphic {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.cloud {
  position: absolute;
  background-color: white;
  border-radius: 100px;
}

.cloud-main {
  width: 425px;
  height: 150px;
}

.cloud-main:after, .cloud-main:before {
  content: '';
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: 50%;
}

.cloud-main::before {
  width: 200px;
  height: 200px;
  top: -50px;
  right: 35px;
}

.cloud-main::after {
  width: 270px;
  height: 270px;
  top: -330px;
  left: 120px;
}

.cloud-small-1 {
  width: 150px;
  height: 100px;
  top: 200px;
  left: 400px;
}

.cloud-small-1:after, .cloud-small-1:before {
  content: '';
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: 50%;
}

.cloud-small-1::after {
  width: 120px;
  height: 120px;
  top: -20px;
  left: 40px;
}

.cloud-small-2 {
  width: 150px;
  height: 100px;
  top: 235px;
  right: 350px;
}

.cloud-small-2:after, .cloud-small-2:before {
  content: '';
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: 50%;
}

.cloud-small-2::before {
  width: 120px;
  height: 120px;
  top: -20px;
  right: 20px;
}

.cloud-small-3 {
  width: 150px;
  height: 100px;
  top: 700px;
  left: 350px;
}

.cloud-small-4 {
  width: 150px;
  height: 100px;
  top: 750px;
  right: 400px;
}

.coming-soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #0c012c;
  font-size: 8em;
  z-index: 1;
}

h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

hr {
  width: 80%;
  margin: auto;
  height: 5px;
  border-radius: 99%;
  background-color: var(--headercolor);
  margin-top: 70px;
  margin-bottom: 70px;
}

.skills-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 20px;
}

.skills-block {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 125px;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: var(--headercolor);
  color: var(--headerfontcolor);
  padding: 10px 0px 10px 0px;
  border: 10px;
  border-color: black;
  border-radius: 3px;
  margin-bottom: 0px;
}

.skills-block:hover {
  background-color: var(--headercolorhighlight);
}

.project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 300px;
      grid-template-columns: 400px 300px;
  -ms-grid-rows: 100px 100px;
      grid-template-rows: 100px 100px;
  background-color: white;
}

.title {
  font-size: 4em;
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 10px;
  padding-top: 10px;
}

.text {
  font-size: clamp(1.25em, 1.5vw, 1.5em);
  line-height: 33px;
}

img {
  display: block;
  height: 80%;
  width: 80%;
  margin: auto;
  border: 7px solid var(--headercolor);
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  display: block;
  color: #0c012c;
}

footer {
  height: 130px;
  background: var(--headercolor);
  margin-top: 75px;
}

.social-media-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  padding-top: 20px;
  font-size: 1.5rem;
}

.social-media-icons a:hover {
  background-color: var(--headercolor);
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  max-width: 150px;
  margin: auto;
}

/* Tablet Media */
@media only screen and (max-device-width: 992px), only screen and (max-width: 992px) {
  .nav-item {
    display: none;
  }
  #dropdown-button {
    display: inline;
  }
  .skills-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* Phone Media */
@media only screen and (max-device-width: 768px), only screen and (max-width: 768px) {
  .title {
    text-align: center;
  }
  .subtitle {
    text-align: center;
  }
  #about {
    padding: 0px 40px;
  }
  #skills {
    padding: 0px 15px;
  }
}
/*# sourceMappingURL=style.css.map */